body{
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.App{
  font-family: 'Prosto One', cursive;
  font-size: 0.9rem;
  background-color: whitesmoke;
}


.cryptocurrencies-table > a{
  text-decoration: none;
  
}

.coin{
  display: flex;
  border-bottom: 0.1px solid;
  padding: 1.5rem 0;
}

.coin__header{
  display: flex;
  border-bottom: 0.1px solid;
  padding: 1.5rem 0;
}

.coin__header > *{
  width:14rem;
  font-weight: 700;
}

.coin__header > .coin__name{
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding-right:5rem;
  font-weight: 700;
}

.coin__header > .coin__position{
  width: 5rem;
  
}

.coin .coin__logo{
  width: 25px ; 
  height: 25px; 
}


.coin > *:not(img){
 width: 14rem;
}

.coin > .coin__name{
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding-right:5rem;
  font-weight: 600;
  cursor: pointer;
}

.coin > .coin__position{
  width: 5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.9rem;
  
}

.coin .star{
  font-size: 1.2rem;
  pointer-events: none;
}


.coin button{
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.coin button:hover{
  color:rgb(204, 204, 100);
  transform: scale(1.4);
  cursor: pointer;
}


.cryptocurrencies-table{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}

.banner{
  padding: 1.5rem 0;
  display: flex;
  gap:2rem;
  animation: scroll 45s linear infinite;
  text-align: center;
  white-space:nowrap;
  
}

.banner > * {
  white-space:nowrap;
}

.top-searched-coin{
  display: flex;
  align-items: center;
}

.top-searched-coin .top-searched-coin__name{
  display: flex;
}

@keyframes scroll {
  from { transform: translateX(100%); }
  to { transform: translateX(-100%); }
}

@media screen and (max-width:1300px){
  .coin__header > *{
    width:12rem;
    font-weight: 700;
  }

  .coin > *:not(img){
    width: 12rem;
  }
}

@media screen and (max-width:1130px){
  .coin__header > *{
    width:11rem;
    font-weight: 700;
  }

  .coin > *:not(img){
    width: 11rem;
  }
}

@media screen and (max-width:1042px){
  .coin__header > *{
    width:10rem;
    font-weight: 700;
  }

  .coin > *:not(img){
    width: 10rem;
  }

  .coin__header > .coin__name{
    padding-right:0rem;
  }

  .coin .coin__name{
    padding-right: 0rem;
  }
}

@media screen and (max-width:888px){
  .coin__ath{
    display: none;
  }
}
@media screen and (max-width:728px){
  .coin__market-cap{
    display: none;
  }

  .coin__header .coin__change{
    width: 5rem;
  }

  .coin .coin__change{
    width: 5rem;
  }

  .coin .coin__price{
    width: 5rem;
  }

  .coin__header .coin__price{
    width: 5rem;
  }

  .coin__header .coin__position{
    width: 3rem;
  }
  .coin .coin__position{
    width: 3rem;
  }
}

